{% extends 'base.html' %}

{% block title %}Login | Dodgy Brothers{% endblock title %}
{% block navbar %}{% endblock navbar %}

{% load static %}


{% block content %}
<body class="text-center">
    <form class="form-signin" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% comment %} <label for="inputEmail" class="sr-only">Email address</label> {% endcomment %}
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
        {% comment %} <label for="inputPassword" class="sr-only">Password</label> {% endcomment %}
        <input type="password" id="inputPassword" class="form-control my-1" name="password" placeholder="Password" required>


        {% if form.errors %}
            <p class=" label label-danger">
                Your username and password didn't match. 
                Please try again.
            </p>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">Already Register PLease <a href="{% url 'register' %}" class="link-danger">Register</a>
        </p>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2023</p>
    </form>
{% endblock content %}

{% block script %}{% endblock script %}
